/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define DEFAULT_L 0
#define SYMBOLS_L 1
#define ARROWS_L  2
#define NUMBERS_L 3

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        d {
            bindings = <&kp BACKSPACE>;
            key-positions = <10 9>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            label = "0";
            bindings = <
&kp ESC       &kp Q               &kp W  &kp E                  &kp R      &kp T                         &kp Y        &kp U                     &kp I      &kp O    &kp P     &kp BSPC
&kp CAPSLOCK  &mt LEFT_COMMAND A  &kp S  &kp D                  &kp F      &kp G                         &kp H        &kp J                     &kp K      &kp L    &kp SEMI  &kp RET
&kp TAB       &kp Z               &kp X  &kp C                  &kp V      &mt LC(BACKSPACE) B           &kp N        &kp M                     &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                                         &mt LEFT_SHIFT ESCAPE  &lt 2 DEL  &mt LEFT_CONTROL BACKSPACE    &lt 1 SPACE  &mt RIGHT_COMMAND RETURN  &kp RALT
            >;
        };

        number_layer {
            label = "1";
            bindings = <
&none  &kp N1      &kp N2   &kp N3          &kp N4        &kp N5            &kp N6     &kp N7             &kp N8            &kp N9             &kp N0  &none
&none  &kp ESCAPE  &kp TAB  &kp BACKSLASH   &kp TILDE     &kp MINUS         &kp EQUAL  &kp DOUBLE_QUOTES  &kp LEFT_BRACE    &kp RIGHT_BRACE    &none   &none
&none  &none       &none    &kp PIPE        &kp GRAVE     &kp UNDERSCORE    &kp PLUS   &kp SQT            &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &none   &none
                            &msc SCRL_DOWN  &msc SCRL_UP  &none             &none      &none              &none
            >;
        };

        bt_layer {
            label = "2";
            bindings = <
&kp ESC  &kp LS(N1)  &kp LS(N2)  &kp LS(N3)  &kp LS(N4)      &kp LS(N5)      &kp LS(N6)       &kp LS(N7)      &kp LS(N8)    &kp LS(N9)  &kp LS(N0)  &none
&none    &none       &none       &none       &kp LEFT_ARROW  &kp RIGHT       &mmv MOVE_RIGHT  &mmv MOVE_DOWN  &bt BT_SEL 0  &none       &none       &none
&none    &none       &none       &none       &kp DOWN        &kp UP_ARROW    &mmv MOVE_UP     &mmv MOVE_LEFT  &bt BT_CLR    &none       &none       &none
                                 &none       &none           &none           &none            &mkp LCLK       &mkp RCLK
            >;
        };

        layer_3 {
            bindings = <
&trans  &kp F1   &kp F2   &kp F3  &kp F4  &kp F5     &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp F6   &kp F7   &kp F8  &kp F9  &kp F10    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp F11  &kp F12  &trans  &trans  &trans     &trans  &trans  &trans  &trans  &trans  &trans
                          &trans  &trans  &trans     &trans  &trans  &trans
            >;
        };
    };
};
